<%- include('partials/header') -%>
<h2 class="mt-5">Edit User</h2>
<form class="centered-form" action="/entries/editUser/<%= loggedInUser._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
  <div class="formRow">
    <p>
      <img src="<%= loggedInUser.image %>" alt="current user image" class="avatar rounded-circle mb-2"> 
      </p>
      <p><strong>Username:</strong> <%= loggedInUser.userName %></p>
    <label for="about" class="form-label"><strong>About Me</strong></label><br>
    <textarea id="about" class="form-control" name="about" rows="10"><%=loggedInUser.about%></textarea>
  </div>
  <div class="formRow">
    <label for="cloudinaryId" class="form-label"><strong>Change User Image</strong></label><br>
    <input type="file" class="form-control" name="file" id="cloudinaryId">
  </div>
  <input type="submit" class="btn btn-success">
</form>
<%- include('partials/footer') -%>