<%- include('partials/header') -%>
  <a href="/" class="btn btn-warning"><i class="fa-solid fa-house"></i></a>
  <a href="/entries" class="btn btn-warning">My Entries</a>
  <a href="/entries/addEntry" class="btn btn-warning">Add Entry</a>
  <a href="/logout" class="btn btn-warning">Logout</a>
    <div class="entry mt-5" data-id="<%= entry._id %>">
      <p><%= entry.date %></p>
      <p><strong><%= entry.commonName %></strong></p>
      <p><%= entry.latinName %></p>
      <a href="/entries/<%= entry._id %>"><img src="<%= entry.image %>" class="entry-image" alt="<%= entry.commonName %>"></a>
      <p><%= entry.observations %></p>
      <div class="mt-2 mb-2"><%= entry.likes %> 
          <form class="d-inline" action="/entries/likeEntry/<%= entry._id %>?_method=PUT" method="POST">
            <button class="fa fa-thumbs-up" type="submit"></button>
          </form>
        </div>
      <p><a href="<%= entry.reference %>" target="_blank">Learn More</a></p>
       <%if(entry.userId._id.toString() == user.id) { %>
        <p>
          <form action="/entries/deleteEntry/<%= entry._id %>?_method=DELETE" method="POST">
            <button class="fa fa-trash" type="submit"></button>
          </form></p>
      <% } %>
      <p>User: <%= entry.userId ? entry.userId.userName : "Unknown" %></p>
      <a href="/entries/editEntry/<%= entry._id %>" class="btn btn-warning">Edit Entry</a>
    </div>
  </div>
<%- include('partials/footer') -%>