<%- include('partials/header') -%>
<div class="row mt-5 mb-5 entry ps-2" data-id="<%= entry._id %>">
<div class="col-12 col-lg-4 mt-5">
  <a href="/entries/<%= entry._id %>"><img src="<%= entry.image %>" class="entry-image" alt="<%= entry.commonName %>"></a>
  <div class="mt-2 mb-5"><%= entry.likes %> 
    <form class="d-inline" action="/entries/likeEntry/<%= entry._id %>?_method=PUT" method="POST">
      <button class="fa fa-thumbs-up" type="submit"></button>
    </form>
  </div>
</div>
<div class="col-12 col-lg-6 mt-5">
  <h2><%= entry.commonName %></h2>
  <p><%= entry.date %></p>
  <h3>Observations</h3>
  <p><%= entry.observations %></p>
  <p><strong>User:</strong> <a href="/entries/user/<%= entry.userId._id %>"><%= entry.userId ? entry.userId.userName : "Unknown" %></a></p>
  <p><a href="/entries//allUser/<%= entry.userId._id %>" class="btn btn-primary my-1"><%= entry.userId.userName %>'s entries</a></p>
</div>
<div class="col-12 col-lg-2 facts-column">
  <div class="mb-4 mt-5 text-center"><img class="w-75" src="/images/crow.png" alt="outline of crow"></div>
  <p><strong>Common Name:</strong> <%= entry.commonName %></p>
  <p><strong>Latin Name:</strong> <%= entry.latinName %></p>
  <p class="text-center mt-5"><a href="<%= entry.reference %>" target="_blank" class="btn btn-primary">Learn More</a></p>
</div>
</div>
       <%if(entry.userId._id.toString() == loggedInUser.id) { %>
          <p><a href="/entries/editEntry/<%= entry._id %>" class="btn btn-warning my-1"><i class="fa fa-pencil"></i> Edit Entry</a></p>
          <form action="/entries/deleteEntry/<%= entry._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Delete</button>
          </form>
      <% } %>
<%- include('partials/footer') -%>