<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      id="font-awesome-css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css?ver=6.5.1"
      type="text/css"
      media="all"
    />
  <link rel="stylesheet" href="css/styles.css">
  <title>Nature Journal</title>
</head>
<body>
  <h1>Nature Journal</h1>
  <button><a href="/html/addEntry.html">Add entry</a></button>
  <button><a href="/logout">Logout</a></button>
  <div class="entriesList">
  <% for(let i = 0; i < entries.length; i++) { %>
    <div class="entry" data-id="<%= entries[i]._id %>">
      <p><%= entries[i].date %></p>
      <p><strong><%= entries[i].commonName %></strong></p>
      <p><%= entries[i].latinName %></p>
      <a href="<%= entries[i].image %>"><img src="<%= entries[i].image %>" alt="<%= entries[i].commonName %>"></a>
      <p><%= entries[i].observations %></p>
      <p><%= entries[i].likes %> <i class="fa-solid fa-thumbs-up"></i></i></p>
      <p><a href="<%= entries[i].reference %>" target="_blank">Learn More</a></p>
      <p><i class="fa-solid fa-trash"></i></p>
    </div>
    <%  } %>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>