<%- include('partials/header') -%>
  <h2 class="mt-5"><%= entries[0].userId.userName %></h2>
  <div class="entriesList myEntries">
  <% for(let i = 0; i < entries.length; i++) { %>
    <div class="entry" data-id="<%= entries[i]._id %>">
      <p><%= entries[i].date %></p>
      <a href="/entries/<%= entries[i]._id %>"><img class="thumbnail" src="<%= entries[i].image %>" alt="<%= entries[i].commonName %>"></a>
      <br/>
      <p><strong><%= entries[i].commonName %></strong></p>
      <p>
        <form action="/entries/deleteEntry/<%= entries[i]._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Delete</button>
        </form>
      </p>
    </div>
    <%  } %>
  </div>
<%- include('partials/footer') -%>