<%- include('partials/header') -%>
<div class="row mt-5 mb-2 entry ps-2 entry-box" data-id="<%= entry._id %>">
<div class="col-12 col-lg-4 mt-5">
  <a href="/entries/<%= entry._id %>"><img src="<%= entry.image %>" class="entry-image" alt="<%= entry.commonName %>"></a>
  <div class="mt-2 mb-5"><%= entry.likes.length %> 
    <form class="d-inline" action="/entries/likeEntry/<%= entry._id %>?_method=PUT" method="POST">
      <button class="fa fa-thumbs-up" type="submit"></button>
    </form>
  </div>
</div>
<div class="col-12 col-lg-8 mt-5">
  <h2><%= entry.commonName %></h2>
  <p><%= entry.date %></p>
  <p><strong>Latin Name:</strong> <%= entry.latinName %></p>
  <h3>Observations</h3>
  <p><%= entry.observations %></p>
  <%if(entry.funFact && entry.funFact.length > 0){ %><p><strong>Fun Fact:</strong> <%= entry.funFact %></p><% } %>
  <p class="mt-1"><a href="<%= entry.reference %>" target="_blank" class="btn btn-primary">Learn More</a></p>
  <a href="/entries/user/<%= entry.userId._id %>"><img src="<%= entry.userId.image %>" width="50px" class="entry-avatar mt-5" alt="<%= entry.userId.userName %>"></a><br><a href="/entries/user/<%= entry.userId._id %>"><%= entry.userId ? entry.userId.userName : "Unknown" %></a></p>
</div>
</div>
       <%if(entry.userId._id.toString() == loggedInUser.id) { %>
        <div class="edit-delete">
        <div><a href="/entries/editEntry/<%= entry._id %>"><i class="fa fa-pencil"></i> Edit Entry</a></div>
          <div><form action="/entries/deleteEntry/<%= entry._id %>?_method=DELETE" method="POST">
            <button type="submit"><i class="fa fa-trash"></i> Delete</button>
          </form></div>
        </div>
      <% } %>
<%- include('partials/footer') -%>