<%- include('partials/header') -%>
<% if (!isAuthenticated) { %>
<body class="container">
  <div class="mb-3 mt-5 p-5">
    <div class="row g-5">
      
      <div class="col-md-8">
          <h2>Welcome</h2>
          <p>Discover the world of birds! Designed for bird enthusiasts and photographers alike, our platform allows you to upload images of the birds you've encountered and get help identifying them with AI. Whether you're a seasoned ornithologist or a casual nature lover, this app is your gateway to sharing your passion for birdwatching.</p>
  
            <div><a href="/login" class="btn btn-primary btn-lg"> log in</a>&nbsp;<a href="/signup" class="btn btn-outline-primary btn-lg"> sign up</a></div>
            
          <!-- <p><small class="text-body-secondary">Special thanks to the <a href="https://documenter.getpostman.com/view/664302/S1ENwy59#intro" target="_blank">eBird API</a>.</small></p> -->
      </div>
      <div class="col-md-4">
        <img src="/images/crow.png" class="img-fluid rounded-start mt-4" alt="crow silhouette">
      </div>
    </div>
  </div>
  <% } %>
    <div class="entriesList">
        <% for(let i = 0; i < entries.length; i++) { %>
          <div data-id="<%= entries[i]._id %>" class="listing">
            <a href="/entries/<%= entries[i]._id %>"><img class="thumbnail" src="<%= entries[i].image %>" alt="<%= entries[i].commonName %>"></a>
            <p><strong><%= entries[i].commonName %></strong>
              <br>
              <small><%= entries[i].date %></small></p>
              <img src="<%= entries[i].userId.image %>" width="50px" class="listing-avatar" alt="<%= entries[i].userId.userName %>"></p>
            <!-- <div class="mb-2"><%= entries[i].likes %> 
              <form class="d-inline" action="/entries/likeEntry/<%= entries[i]._id %>?_method=PUT" method="POST">
                <button class="fa fa-thumbs-up" type="submit"></button>
              </form>
            </div> -->
          </div>
          <%  } %>
        </div>
</body>
<%- include('partials/footer') -%>