<%- include('partials/header') -%>
<body class="container">
    <% if (!isAuthenticated) { %>
    <a href="/login" class="btn btn-warning"> Login</a>
    <a href="/signup" class="btn btn-warning"> Signup</a>
    <% } %>
    <% if (isAuthenticated) { %>
    <a href="/entries" class="btn btn-warning">My entries</a>
    <a href="/logout" class="btn btn-warning"> Logout</a>
    <% } %>
    <h2 class="mt-5">all entries</h2>
    <div class="entriesList">
        <% for(let i = 0; i < entries.length; i++) { %>
          <div class="entry card" data-id="<%= entries[i]._id %>">
            <p><%= entries[i].date %></p>
            <a href="/entries/<%= entries[i]._id %>"><img class="thumbnail" src="<%= entries[i].image %>" alt="<%= entries[i].commonName %>"></a>
            <div class="mt-2 mb-2"><%= entries[i].likes %> 
              <form class="d-inline" action="/entries/likeEntry/<%= entries[i]._id %>?_method=PUT" method="POST">
                <button class="fa fa-thumbs-up" type="submit"></button>
              </form>
            </div>
            <p><strong><%= entries[i].commonName %></strong></p>
          </div>
          <%  } %>
        </div>
</body>
<%- include('partials/footer') -%>