<%- include('partials/header') -%>
<section class="user-info">
  <div class="row mt-5">
    <div class="col-12 col-lg-2">
      <a
        href="/entries/editUser/<%= user._id %>"
        type="button"
        class="btn btn-secondary rounded-circle"
      >
        <i class="fa fa-pencil"></i>
      </a>
      <img
        src="<%= user.image %>"
        alt="<%= user.userName %>"
        class="avatar rounded-circle"
      />
    </div>

    <div class="col-12 col-lg-8">
      <h2 class="mb-4"><%= user.userName %></h2>
      <h3>About Me</h3>
      <p><%= user.about %></p>
      <p>
        <strong>Journaling Since: </strong><%=
        user.createdAt.toLocaleDateString('en-US', { year: 'numeric', month:
        'short', day: 'numeric' }) %>
      </p>
      <p><strong>Total Entries: </strong> <%= entries.length %></p>
      <p>
        <a href="/entries//allUser/<%= user._id %>" class="my-1"
          >View all <%= user.userName %>'s entries</a
        >
      </p>
    </div>

    <div class="col-12 col-lg-2">
      <h3>latest</h3>
      <div class="entriesList">
        <% for(let i = 0; i < 3; i++) { %>
        <div class="entry" data-id="<%= entries[i]._id %>">
          <a href="/entries/<%= entries[i]._id %>"
            ><img
              class="thumbnail"
              src="<%= entries[i].image %>"
              alt="<%= entries[i].commonName %>"
          /></a>
          <p>
            <strong><%= entries[i].commonName %></strong>
            <br />
            <small><%= entries[i].date %></small>
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>
